<div class="text-white text-center bg-dark py-3">
    <h3 class="bs-white">Top-rated WordPress Hosting Support</h3>
    <p>Our Customer Care team is not only quick and highly-skilled but also among the highest-rated support squads you will find</p>
    <div class="conteiner mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <img class="mb-3" src="assets/clock.png" alt="">
                  <p>Available 24/7</p>
                  <p class="text-warning">Round-the-clock help center</p>
            </div >
            <div class = "col-sm-2">
                <img  class="mb-3" src="assets/barco.png" alt="">
                <p>WordPress Expertise</p>
                <p class="text-warning">Always eager to help</p>
            </div>
            <div class = "col-sm-2">
                <img  class="mb-3" src="assets/cell.png" alt="">
                <p>Fast Response Time</p>
                <p class="text-warning">Quick pickup & resolution</p>
            </div>
            <div class = "col-sm-2">
                <img  class="mb-3" src="assets/install.png" alt="">
                <p>Free installation</p>
                <p class="text-warning">of Themeforest Themes</p>
            </div>
        </div>
    </div>
</div>
