<div class="bg-success py-3">
  <div class="text">
    <h1 >Get Powerful WordPress Hosting</h1>
    <p >Exclusive offer for Envato users:</p>
    <strong>Up to <samp style="color: darkorange">62%</samp> Special Discount +
      <samp style="color: darkorange">Free theme installation</samp></strong>
  </div>
  <div class="row mb-4">
      <div class="col-xs-6 col-sm-4 pt-4 pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
              <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
            </svg><br>
            <strong>StartUp</strong>
            <p>Crafted for a Great WordPress Start</p>
            <p>SPECIAL PRICE</p>
            <strong>$6,99/mo.</strong>
            <p>Discounted from $14.99/mo.</p>
            <p><strong>1</strong> Website</p>
            <p><strong>10</strong> GB Web Space</p>
            <p><strong>~10,000</strong> Visits Monthly</p>
            <u class="text-primary">Essential WordPress Features</u><br>
            <button class="btn btn-warning">GET PLAN</button>
      </div>
      <div class="col-xs-6 col-sm-4 pt-4 pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg><br>
            <strong>GrowBig</strong>
            <p>Crafted for Growing WordPress Sites</p>
            <p>SPECIAL PRICE</p>
            <strong>$9.99/mo.</strong>
            <p>Discounted from $24,99/mo.</p>
            <p><b>Unlimited</b> Websites</p>
            <p><b>20</b> GB Web Space</p>
            <p><b>~25,000</b> Visits Monthly</p>
            <u class="text-primary">Essential WordPress Features</u><br>
            <u class="text-primary">Premium WordPress Features</u><br>
            <button class="btn btn-warning btn-block">GET PLAN</button>
      </div>
      <div class="col-xs-6 col-sm-4 pt-4 pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
              <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
            </svg><br>
            <Strong>GoGeek</Strong>
            <p>Crafted for Real WordPress Geeks</p>
            <p>SPECIAL PRICE</p>
            <Strong>$14,99/mo.</Strong>
            <p>Discounted from $39,99/mo.</p>
            <p><b>Unlimited</b> Websites</p>
            <p><b>40</b> GB Web Space</p>
            <p><b>~100,000</b> Visits Monthly</p>
            <u class="text-primary">Essential WordPress Features</u><br>
            <u class="text-primary">Premium WordPress Features</u><br>
            <u class="text-primary">Geeky WordPress Features</u><br>
            <button class="btn btn-warning pb-auto btn-block">GET PLAN</button>
      </div>
  </div>
</div>

